.footer {
  background-color: var(--color-primario);
  color: var(--color-joya);
  text-align: center;
  padding: 2rem 1rem;
  font-size: 0.9rem;
  margin-top: auto; /* Para pegarlo abajo si usás layout flex */
  box-shadow: 0 4px 12px rgba(249, 248, 248, 0.4);
}

.footer h5 {
  margin: 0;
  font-size: 1.2rem;
  color: var(--color-titulo);
  margin-bottom: 0.5rem;
  font-weight: 500;
}

.footer p {
  margin: 0.5rem 0 0 0;
  opacity: 0.8;
}
